body {
     text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border:10px solid black;
    margin: 1em;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: #ff8c00;
}
.red{
    background-color: #b33277;
}
.green{
    background-color: #39a0bd;
}
.purple{
    background-color:#5971eb ;
}

.flash{
    background-color: azure;
}
.userFlash{
    background-color: rgb(9, 65, 46);
}